.container {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 0;
    width: 100%;
}

form {
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}